/* UNIVERSAL STYLING */
@font-face {
    font-family: "norse-bold";
    src: 
        url(fonts/norse-bold-webfont.woff2) format(woff2),
        url(fonts/norse-bold-webfont.woff) format(woff);
     
}

* {
    margin: 0;
    padding: 0;
    --green-color: #596D48;
    --white-color: rgb(255, 255, 255);
}

body {
    display: flex;
}



/* LEFT STYLING */
#left-container {
    width: 33%;
    background-image: url(img/foliage.jpg);
}

#logo-container {
    display: flex;
    flex-direction: column;
    /* make it slightly transparent */
    /* give it a black colour */
}

.logo {
    font-family: norse-bold;
    color: var(--white-color, white);
}



/* RIGHT STYLING */
#right-container {
}

.text-container {
}

form {
}

.submit-container {
}

.submit-btn {
    color: var(--white-color, white);
    background-color: var(--green-color, green);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.login-text {
}

.login-link {
    color: var(--green-color, green);
    text-decoration: none;
}

