/* UNIVERSAL STYLING */
* {
    margin: 0;
    padding: 0;
    --green-color: #596D48;
    --green-hover:#87a56d;
    --green-focus: #aed38e;;
    --white-color: #FFFFFF;
    --light-bg-color: #F9FAFB;
    --dark-bg-color: rgb(0, 0, 0);
    font-family: sans-serif;
}

body {
    display: flex;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: "norse-bold";
    src: 
        url(fonts/norse-bold-webfont.woff2) format(woff2),
        url(fonts/norse-bold-webfont.woff) format(woff);
     
}

/* LEFT STYLING */
#left-container {
    width: 40vw;
    height: 100vh;
    background-image: url(img/foliage.jpg);
    background-size: cover;
}

#logo-container {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg-color);
    opacity: 0.5;
    height: 13%;
    margin-top: 28%;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    font-family: norse-bold;
    color: var(--white-color, white);
}

.credit {
    margin-bottom: 0;
    color: var(--white-color);
}



/* RIGHT STYLING */
#right-container {
}

.text-container {
    background-color: var(--light-bg-color);
    height: 33%;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.header {
    color: var(--green-color);
    font-family: norse-bold;
    font-size: 4em;
}

form {
    background-color: var(--white-color);
    height: 33%;
}

.form-element-container {
    display: flex;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.submit-container {
    background-color: var(--light-bg-color);
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
}

input {
    width: 50px;
}

/*LINKS AND BUTTONS*/
.credit-link {
    color: white;
}

.submit-btn {
    color: var(--white-color, white);
    background-color: var(--green-color, green);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.submit-btn:hover {
    background-color: var(--green-hover);
}

.submit-btn:focus {
    background-color: var(--green-focus);
}

.login-link {
    color: var(--green-color, green);
    text-decoration: none;
}
.login-link:hover,
.credit-link:hover {
    color: var(--green-hover);
}
.login-link:focus,
.credit-link:focus {
    color: var(--green-focus);
}
