/* UNIVERSAL STYLING */
@font-face {
    font-family: "norse-bold";
    src: 
        url(fonts/norse-bold-webfont.woff2) format(woff2),
        url(fonts/norse-bold-webfont.woff) format(woff);
     
}

* {
    margin: 0;
    padding: 0;
}



/* LEFT STYLING */
#left-container {
    width: 33%;
    background-image: url(img/foliage.jpg);
}

#logo-container {
    display: flex;
    flex-direction: column;
    /* make it slightly transparent */
    /* give it a black colour */
}

.logo {
    font-family: norse-bold;
    color: white;
}



/* RIGHT STYLING */
#right-container {
}

.text-container {
}

form {
}

.submit-container {
}

.submit-btn {
    color: white;
    background-color: #596D48;
    border-radius: 5px;
    padding: 10px;
}


